@import "minima";

body {
  font-family: monospace;
}

.con-bajada > *:first-child {
  margin-bottom: 0;
}

.con-bajada > :not(*:first-child) {
  margin-top: 0;
}

.centrado {
  text-align: center;
  margin: auto;
}

article:first-of-type {
  padding-top: 0em;
}

article {
  max-width: 50em;
  padding-top: 2em;
  margin: auto;
}

article > footer {
  text-align: right;
}

article > header > time {
  float: right;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
