---
layout: default
---

<div class="home">

  {{ content }}
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <a class="post-link" href="{{ post.url | relative_url }}">
              <h1 class="post-title" itemprop="name headline">{{ post.title | escape }}</h1>
            </a>
            <p class="post-meta">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ post.date | date: date_format }}
              </time>
              {% if post.author %}
                • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>
              {% endif %}
            </p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ post.content }}
          </div>

          {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
          {% endif %}
        </article>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
